<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WHITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cchat03"
        tools:targetApi="31">
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.infoActivity"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.optionsActivity"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.LogInActivity"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.Register"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.Fragments.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.CommentsActivity"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.Post_U_Activity"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.MessageActivity"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.ChatActivity"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.PostActivity"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.StarActivity"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.Log_inActivity"
            android:exported="false" />
        <activity
            android:name="App.Aplicacion.cchat_0_3.View.Trabelling.introActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>